*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#111827;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0f172a;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 8%;
}

.hero img{
width:350px;
border-radius:50%;
box-shadow:0 0 40px cyan;
}

span{
color:#00d4ff;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#00d4ff;
color:black;
margin-top:20px;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

section{
padding:70px 8%;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.card{
background:#1f2937;
padding:30px;
border-radius:15px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.skill{
margin:20px 0;
}

.skill div{
background:#333;
height:10px;
border-radius:10px;
}

.skill span{
display:block;
height:10px;
background:#00d4ff;
border-radius:10px;
}

footer{
text-align:center;
padding:25px;
background:#0f172a;
}
